@page "/car"
@using DealershipLibrary.Vehicle
@using DealershipLibrary.Vehicle.Cars
@using DealershipLibrary
@using System.Collections.Generic
@using System.ComponentModel.DataAnnotations;
@using Microsoft.Extensions.Logging
@inject ILogger<Car> Logger

<div>
    <h3>Car</h3>

    <EditForm Model="@car" OnValidSubmit="@ValidSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <select @onchange="(e)=>SelectColor(e.Value.ToString())">
            <option value="">Choose Color</option>

            @foreach (var item in carColorsList)
            {
                <option value="@item">@item</option>
            }
        </select>
        <select @onchange="(e)=>SelectModel(e.Value.ToString())">
            <option value="">Choose Model</option>

            @foreach (var item in carModelsList)
            {
                <option value="@item">@item</option>
            }
        </select>        
        <button type="submit">Add</button>
`       @*<p>@car.GetType().Name Added!</p>*@

        <p>@msg</p>

    @*<ValidationMessage For="@(()=>car.VehicleModel)"></ValidationMessage>
     <ValidationMessage For="@(()=>car.VehicleColor)"></ValidationMessage>*@
    </EditForm>
</div>


@code {
    [Parameter]
    public EventCallback<IVehicle> OnAdd {get; set;}

    List<string> carModelsList = Extensions.GetEnumItems(typeof(CarModelsEnum));
    List<string> carColorsList = Extensions.GetEnumItems(typeof(CarColorsEnum));

    private Car car  = new Car(null,null);
    string msg;

    void SelectColor(string value)
    {
        this.car.SetColor(value);
    }

    void SelectModel(string value)
    {
        this.car.SetModel(value);
    }

    void ValidSubmit()
    {
        OnAdd.InvokeAsync(car);
        msg = "Car Added!";
        Logger.LogInformation("ValidSubmit called");
    }
}