@page "/car"
@using DealershipLibrary.Vehicle.Cars
@using DealershipLibrary
@using System.Collections.Generic;

<h3>Car</h3>

<select @onchange="(e)=>SelectColor(e.Value.ToString())">
    <option value="">Choose Color</option>

    @foreach (var item in carColorsList)
    {
        <option value="@item">@item</option>
    }
</select>

<select @onchange="(e)=>SelectModel(e.Value.ToString())">
    <option value="">Choose Model</option>

    @foreach (var item in carModelsList)
    {
        <option value="@item">@item</option>
    }
</select>

<button @onclick="@(() => add())">Add</button>


@code {
    [Parameter]
    public EventCallback<IVehicle> OnClick { get; set; }

    List<string> carModelsList = Extensions.GetEnumItems(typeof(CarModels));
    List<string> carColorsList = Extensions.GetEnumItems(typeof(VehicleColors));

    VehicleColors color;
    void SelectColor(string value)
    {
        this.color = (VehicleColors)System.Enum.Parse(typeof(VehicleColors), value);
    }

    CarModels model;
    void SelectModel(string value)
    {
        this.model = (CarModels)System.Enum.Parse(typeof(CarModels), value);
    }

    void add()
    {
        Car c = new Car(model, color);
        OnClick.InvokeAsync(c);
    }
}