@page "/car"
@using DealershipLibrary.Vehicle.Cars
@using DealershipLibrary
@using System.Collections.Generic;

<h3>Car</h3>

<select @onchange="(e)=>SelectColor(e.Value.ToString())">
    @foreach (var item in carColorsList)
    {
        <option value="@item">@item</option>
    }
</select>

<select @onchange="(e)=>SelectModel(e.Value.ToString())">
    @foreach (var item in carModelsList)
    {
        <option value="@item">@item</option>
    }
</select>
<div>
        @foreach (var v in VehiclesList)
    {
        <p><input type="text" value="@v.carColor" @onchange="@((ChangeEventArgs args) => OnChange(args, v))"/></p> @*@OnChange= "OnChange"*@

     }
</div>

<button @onclick="@(() => add())">Add</button>


@code {
    [Parameter] 
    public EventCallback<string> OnClick { get; set; }
    
    [Parameter]
    public List<IVehicle> VehiclesList { get; set; }

    List<string> carModelsList = Extensions.GetEnumItems(typeof(CarModels));
    List<string> carColorsList = Extensions.GetEnumItems(typeof(CarColors));


    CarColors color;
    void SelectColor(string value)
    {
        this.color = (CarColors)System.Enum.Parse(typeof(CarColors), value);
    }

    CarModels model;
    void SelectModel(string value)
    {
        this.model = (CarModels)System.Enum.Parse(typeof(CarModels), value);
    }

    void add()
    {
        //carlist.Add(new Car(model, color));
        Car c = new Car(model, color);
        VehiclesList.Add(c);
        OnClick.InvokeAsync($"{c}");
    }
    
    private void OnChange(ChangeEventArgs args, Car v)
    {
        v.carColor = args.Value.ToString();
        OnClick.InvokeAsync(VehiclesList);
    }
}