@page "/"
@using DealershipLibrary.Vehicle.Cars
@using DealershipLibrary

<h1>Shaden's Dealership</h1>

<span>
    <select @onchange="(e)=>SelectVehicle(e.Value.ToString())">
        <option value="">Choose Vehicle</option>

        @foreach (var item in vehicleTypesList)
        {
            <option value="@item">@item</option>
        }
    </select>
   

    @if (vehicle == VehicleTypes.Car)
    {
        <CarComponent OnClick="@vehicleAdded"></CarComponent> //Car component

        @foreach (var v in VehiclesList)
        {
            <p>@v.carColor @v.carModel</p>
        }
    }  
    else if(vehicle == VehicleTypes.Motorcycle)
    {
        <MotorcycleComponent OnClick="vehicleAdded"></MotorcycleComponent> //Motorcycle component 

        @foreach (var v in VehiclesList)
        {
            <p>@v.mcColor @v.mcModel</p>
        }
    }
    else if(vehicle == VehicleTypes.Truck)
    {
       <TruckComponent OnClick="vehicleAdded"></TruckComponent> //Truck component  
         
        @foreach (var v in VehiclesList)
        {
            <p>@v.tColor @v.tModel</p>
        }
    } 
          
        @* @foreach (var v in VehiclesList)
        {
            this.message = v.ToString();
        }       *@
</span>
 @* <span>
     @message
 </span> *@

@code
{
    List<string> vehicleTypesList = Extensions.GetEnumItems(typeof(VehicleTypes));
    public List<IVehicle> VehiclesList { get; set; } = new List<IVehicle>();

    string message;
    VehicleTypes vehicle;
    void SelectVehicle(string value)
    {
        this.vehicle = (VehicleTypes)System.Enum.Parse(typeof(VehicleTypes), value);
    }

    void vehicleAdded(IVehicle vehicle)
    {
        @* if (this.VehiclesList == null || !this.VehiclesList.Any())
            this.VehiclesList = new List<IVehicle>(); *@

        this.VehiclesList.Add(vehicle);
    }

    //// validation
    //string SuccessMessage = string.Empty;
    //async void HandleValidSubmit()
    //{
    //    SuccessMessage = "Form Submitted Successfully!";
    //    await Task.Delay(2000);
    //    SuccessMessage = string.Empty;
    //    StateHasChanged();
    //}

    //void HandleInvalidSubmit()
    //{
    //    SuccessMessage = string.Empty;
    //}
}