@page "/"
@using DealershipLibrary.Vehicle.Cars
@using DealershipLibrary

<h1>Shaden's Dealership</h1>

@{
    var vehicleTypesList = Extensions.GetEnumItems(typeof(VehicleTypes));
    var VehicleColors = Extensions.GetEnumItems(typeof(VehicleColors));
    var CarModels = Extensions.GetEnumItems(typeof(CarModels));
    var MCModels = Extensions.GetEnumItems(typeof(MCModels));
    var TModels = Extensions.GetEnumItems(typeof(TModels));
}

<span>  
    <select @onchange="(e)=>SelectVehicle(e.Value.ToString())">
        @foreach (var item in vehicleTypesList)
        {
            <option value = "@item">@item</option>
        }
    </select>
    
    <select @onchange="(e)=>SelectColor(e.Value.ToString())">
        @foreach (var item in VehicleColors)
        {
            <option value = "@item">@item</option>
        }
    </select>
    
    @if (vehicle == VehicleTypes.Car) 
    {
        <select @onchange="(e)=>SelectModel(e.Value.ToString())">
            @foreach (var item in CarModels)
            {
                <option value = "@item">@item</option>
            }
        </select>
    }
    else if (vehicle == VehicleTypes.Motorcycle)
    {
        <select @onchange="(e)=>SelectModel(e.Value.ToString())">
            @foreach (var item in MCModels)
            {
                <option value = "@item">@item</option>
            }
        </select>
    }
    else if(vehicle == VehicleTypes.Truck)
    {
        <select @onchange="(e)=>SelectModel(e.Value.ToString())">
            @foreach (var item in TModels)
            {
                <option value = "@item">@item</option>
            }
        </select>        
    }

    <p>Your vehicle: @color @vehicle @model</p>
</span>


@code
{
    VehicleTypes vehicle;
    void SelectVehicle(string value)
    {
        this.vehicle = (VehicleTypes)System.Enum.Parse(typeof(VehicleTypes), value);
    }

    string color;
    void SelectColor(string value)
    {
        this.color = value;
    }

    string model;
    void SelectModel(string value)
    {
        this.model = value;
    }
}
