@page "/"
@using DealershipLibrary.Vehicle.Cars
@using DealershipLibrary

<h3>Shaden's Dealership</h3>

<span>
    <select @onchange="(e)=>SelectVehicle(e.Value.ToString())">
        <option value="">Choose Vehicle</option>

        @foreach (var item in vehicleTypesList)
        {
            <option value="@item">@item</option>
        }
    </select>
   

    @if (vehicle == VehicleTypes.Car)
    {
        <CarComponent OnClick="@vehicleAdded"></CarComponent> //Car component
    }  
    else if(vehicle == VehicleTypes.Motorcycle)
    {
        <MotorcycleComponent OnClick="vehicleAdded"></MotorcycleComponent> //Motorcycle component 
    }
    else if(vehicle == VehicleTypes.Truck)
    {
       <TruckComponent OnClick="vehicleAdded"></TruckComponent> //Truck component        
    } 

    @foreach (var v in VehiclesList)
    {
        <p>@v.color @v.Model.Name</p>
    }
</span>


@code
{
    List<string> vehicleTypesList = Extensions.GetEnumItems(typeof(VehicleTypes));
    public List<IVehicle> VehiclesList { get; set; } = new List<IVehicle>();
    string message;
    VehicleTypes vehicle;
    void SelectVehicle(string value)
    {
        this.vehicle = (VehicleTypes)System.Enum.Parse(typeof(VehicleTypes), value);
    }

    void vehicleAdded(IVehicle vehicle)
    {
        @* if (this.VehiclesList == null || !this.VehiclesList.Any())
            this.VehiclesList = new List<IVehicle>(); *@

        this.VehiclesList.Add(vehicle);
    }
}