@page "/motorcycle"
@using DealershipLibrary.Vehicle.Motorcycles
@using DealershipLibrary

<h3>Motorcycle</h3>
 
 <select @onchange="(e)=>SelectColor(e.Value.ToString())">
    <option value="">Choose Color</option>

    @foreach (var item in mcColorsList)
    {
        <option value = "@item">@item</option>
    }
  </select>

 <select @onchange="(e)=>SelectModel(e.Value.ToString())">
     <option value="">Choose Model</option>

     @foreach (var item in mcModelsList)            
     {
        <option value = "@item">@item</option>
     }
 </select>

<button @onclick="@(() => add())">Add</button>

@code {
    [Parameter] public EventCallback<IVehicle> OnClick { get; set; }

    List<string> mcModelsList = Extensions.GetEnumItems(typeof(MCModelsEnum));
    List<string> mcColorsList = Extensions.GetEnumItems(typeof(VehicleColors));

    VehicleColors color;
    void SelectColor(string value)
    {
        this.color = (VehicleColors)System.Enum.Parse(typeof(VehicleColors), value);
    }

    MCModel model;
    void SelectModel(string value)
    {
        this.model = new MCModel { Name = value};
    }

    void add()
    {
        Motorcycle m = new Motorcycle(model, color);
        OnClick.InvokeAsync(m);    
    }
}