@page "/truck"
@using DealershipLibrary.Vehicle.Trucks
@using DealershipLibrary

<h3>Truck</h3>
 
<select @onchange="(e)=>SelectColor(e.Value.ToString())">
    <option value="">Choose Color</option>
        
    @foreach (var item in ColorsList)
    {
        <option value = "@item">@item</option>
    }
 </select>

 <select @onchange="(e)=>SelectModel(e.Value.ToString())">
    <option value="">Choose Model</option>

    @foreach (var item in ModelsList)            
    {
        <option value = "@item">@item</option>
    }
</select>

<button @onclick="@(() => add())">Add</button>

@code {
    [Parameter] public EventCallback<IVehicle> OnAdd { get; set; }

    List<string> ModelsList = Extensions.GetEnumItems(typeof(TModelsEnum));
    List<string> ColorsList = Extensions.GetEnumItems(typeof(VehicleColors));

    VehicleColors color;
    void SelectColor(string value)
    {
        this.color = (VehicleColors)System.Enum.Parse(typeof(VehicleColors), value);
    }

    
    TModel model;
    void SelectModel(string value)
    {
        this.model = new TModel { Name = value};
    }

    void add()
    {
        Truck t = new Truck(model, color);
        OnAdd.InvokeAsync(t);
    }
}
