@page "/truck"
@using DealershipLibrary.Vehicle.Trucks
@using DealershipLibrary

<h3>Truck</h3>
 
<select @onchange="(e)=>SelectColor(e.Value.ToString())">
    <option value="">Choose Color</option>
        
    @foreach (var item in tColorsList)
    {
        <option value = "@item">@item</option>
    }
 </select>

 <select @onchange="(e)=>SelectModel(e.Value.ToString())">
    <option value="">Choose Model</option>

    @foreach (var item in tModelsList)            
    {
        <option value = "@item">@item</option>
    }
</select>

<button @onclick="@(() => add())">Add</button>

@code {
    [Parameter] public EventCallback<IVehicle> OnClick { get; set; }

    List<string> tModelsList = Extensions.GetEnumItems(typeof(TModels));
    List<string> tColorsList = Extensions.GetEnumItems(typeof(TColors));

    TColors color;
    void SelectColor(string value)
    {
        this.color = (TColors)System.Enum.Parse(typeof(TColors), value);
    }

    TModels model;
    void SelectModel(string value)
    {
        this.model = (TModels)System.Enum.Parse(typeof(TModels), value);
    }

    void add()
    {
        Truck t = new Truck(model, color);
        OnClick.InvokeAsync(t);
    }
}
